body {
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background: #c0ed84;
}

.container {
    margin:20px auto;
    width: 270px;
    background: #fff;
    padding: 15px;
    text-align: center;
}

#timer {
    background:	#74cba7;
    height: 120px;
    line-height: 120px;
    font-size: 40px;
    margin-bottom: 15px;

}

.btn {
    width: 80px;
    height: 45px;
    line-height: 45px;
    background: 	#a1cddf;
    font-weight: bold;
    cursor:pointer;
    user-select: none;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.inacive {
    opacity: 0.6;
}